<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwf.dao.MenusSortMapper">

	<resultMap type="com.bwf.entity.MenusSort" id="MenusSortMapperMap">
			
			<result property="userId" column="user_id"/>
			<result property="newMenus" column="newmenus"/>
	</resultMap>

	<insert id="add" parameterType="com.bwf.entity.MenusSort">
		insert into menussort values ( #{userId} ,#{newMenus} )
	</insert>
	<update id="update" parameterType="com.bwf.entity.MenusSort">
		update menussort set newmenus = #{newMenus} where user_id=#{userId}
	</update>
	<select id="selectByUserId" parameterType="int" resultMap="MenusSortMapperMap">
	
		select * from menussort where user_id=#{id}
	</select>
</mapper>